<!DOCTYPE html>
<html>
<head>
</head>
<body>

<form class="entryform" method="post" action="/convertmass">

<input type="text" name="initmass" placeholder="Enter a mass"><br>
<input type="Submit" name = "lbstokg" value="lbstokg" placeholder="lbs to kg">
<input type="Submit" name = "lbstostone" value="lbstostone" placeholder="lbs to stone">
<input type="Submit" name = "kgtostone" value="kgtostone" placeholder="kg to stone">
<input type="Submit" name = "kgtolbs" value="kgtolbs" placeholder="kg to lbs">
<input type="Submit" name = "stonetokg" value="stonetokg" placeholder="stone to kg">
<input type="Submit" name = "stonetolbs" value="stonetolb" placeholder="stone to lb">

</form>
<%= yield %>
</body>
</html>